.form-group {
    width: 50%;
    margin: 10px;
}

#floating-panel{
    clear: both;
}

#googleMap {
    margin: 10px;
    float: left;
    clear: both;
    width: 60%;
    height:400px;
}

.warning-card {
    width: 30%;
    height: 500px;
    margin: 10px;
    float: left;
    overflow: auto;
}

.jumbotron {
    clear: both;
}

#submit {
    margin-left: 10px;
}

.card-img-top {
    height: 50px;
}

.warning-card .card-title {
    margin: 13px;
    text-decoration: underline;
    text-decoration-color: 
    #6e2f51;
    text-align: center;
}

#submit {
    margin: 10px;
    text-align: center;
    letter-spacing: 1.33;
    padding: 10px;
    font-size: 25px;
    color: white;
}

#button-div {
    text-align: center;
}

.info {
    width: 40%;
    margin: 5%;
    padding: 10px;
    float: left;
}

#floating-panel {
    margin-left: 10px;
}

.methodology {
    margin: 10px;
    padding: 10px;
}

#methodology-jumbo {
    text-align: center;
}

#contact-jumbo {
    text-align: center;
}

@media screen and (max-width: 400px) {
    * {
        text-align: center;
    }

    .form-group {
        width: 90%;
        margin-top: 10px;
    }

    #googleMap {
        margin: 0;
        padding: 0;
        width: 100%;
        float: none;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .warning-card {
        float: none;
        width: 90%;
    }

    .jumbotron {
        clear: both;
        
    }

    nav {
        text-align: center;
    }

    .warning-card {
        padding: 0;
    }

}